<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PixelPaste | Share Your Story</title>
<script src="https://d3plnp2f9sfye5.cloudfront.net/897.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/svg+xml" href="https://art.pixilart.com/10b360b87b0087d.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     
     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=G-ELXPX9P9VW"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());

       gtag('config', 'G-ELXPX9P9VW');
     </script>
<script type="text/javascript">
  window._taboola = window._taboola || [];
  _taboola.push({article:'auto'});
  !function (e, f, u, i) {
    if (!document.getElementById(i)){
      e.async = 1;
      e.src = u;
      e.id = i;
      f.parentNode.insertBefore(e, f);
    }
  }(document.createElement('script'),
  document.getElementsByTagName('script')[0],
  '//cdn.taboola.com/libtrc/pixelpaste/loader.js',
  'tb_loader_script');
  if(window.performance && typeof window.performance.mark == 'function')
    {window.performance.mark('tbl_ic');}
</script>
</head>

<body>
<script src="https://d3plnp2f9sfye5.cloudfront.net/980.js"></script>
<script src="https://d3plnp2f9sfye5.cloudfront.net/928.js"></script>
<script type="text/javascript">
  document.addEventListener("touchstart", function() {}, true);
</script>
  <div class="container">


  <header class="header">
          <a class="logo" href="/">PixelPaste</a>
          <input class="menu-btn" type="checkbox" id="menu-btn" />
          <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
          <ul class="menu">
          <li><a class="link link-theme link-arrow" href="/"><i class="fas fa-home"></i> home</a></li>
       <li><a class="link link-theme link-arrow" href="/compose"><i class="fas fa-feather-alt"></i> write</a></li>
       <% if (login) {%>
       <li><a class="link link-theme link-arrow"href="/author"><i class="fas fa-user-circle"></i> profile</a></li>
        <li><a class="link link-theme link-arrow"href="/earnings"><i class="fas fa-dollar-sign"></i> earnings</a></li>
       <li><a class="link link-theme link-arrow"href="/logout"><i class="fas fa-sign-out-alt"></i> logout</a></li>
       <li><a class="link link-theme link-arrow"href="/contact-us"><i class="fas fa-envelope"></i> contact</a></li>
       <%} else {%>
       <li><a class="link link-theme link-arrow"href="/login"><i class="fas fa-sign-in-alt"></i> login</a></li>
       <li><a class="link link-theme link-arrow"href="/register"><i class="fas fa-user-plus"></i> register</a></li>
       <li><a class="link link-theme link-arrow"href="/contact-us"><i class="fas fa-envelope"></i> contact</a></li>
       <li><a class="link link-theme link-arrow"href="/privacy-policy"><i class="fas fa-info-circle"></i> policy</a></li>
       <%}%>
          </ul>
        </header>
