<%- include("partials/header"); -%>

<h6>404 not Found</h6>
<script>
function setCookie(cname, cvalue) {
  const d = new Date();
  d.setTime(d.getTime() + (60*60*1000));
  let expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
setCookie(a1,1)
</script>

<%- include("partials/footer"); -%>
