<%- include("partials/header") -%>
<br>
    <input id="author" class="form-control" name="author" required>
    <br>
    <button id="reset" class="btn btn-primary" type="button" name="button">Reset</button>

<button id="views"  class="btn btn-primary" type="button" name="button">Views</button>
<br>
<div class="item">

</div>
<script type="text/javascript">

$("#views").click(function(){
var author = $("#author").val();
var ajax = new XMLHttpRequest();

  ajax.open("POST","https://still-retreat-22668.herokuapp.com/getviews?author=" + author,true);

  ajax.onreadystatechange = function() {
    if (this.readyState == 4) {
      if (this.status == 200) {
        var data = JSON.parse(this.responseText);
        $(".item").append("<h6>views:"+ data.views +"</h6>"+ "<h6>posts:"+ data.posts + "</h6>")
      }
    }
  };

  var formData = new FormData();
  ajax.send(formData);
});

$("#reset").click(function(){
var author = $("#author").val();
var ajax = new XMLHttpRequest();

  ajax.open("POST","https://still-retreat-22668.herokuapp.com/admin?author=" + author,true);

  ajax.onreadystatechange = function() {
    if (this.readyState == 4) {
      if (this.status == 200) {
        var data = JSON.parse(this.responseText);
        $(".item").append("<h6>"+"reset done"+"</h6>")
      }
    }
  };

  var formData = new FormData();
  ajax.send(formData);
});

</script>
<%- include("partials/footer") -%>
