<%- include("partials/header") -%>

<h3>Read instructions below carefully</h3>
<br>
<h5>1. If id is locked or not working then report on discord server or retry after 8 hours. ID refresh every 8 hours.</h5>
<h5>2. Do not login to icloud.</h5>
<h5>3. Apple Id password or email changes so get new one everytime and use apple id fast.</h5>
<h5>4. Do not share apple id with anyone.</h5>


<div class="eap">
  <label for="">Email</label>
  <input type="text"  value="" id="email" readonly="readonly">
  <button onclick="myFunction()">Click To Copy</button>
  <label for="">Password</label>
  <input type="text"  value="" id="pass" readonly="readonly">
  <button onclick="myFunctionn()">Click To Copy</button>
</div>

<script type="text/javascript">
if (document.referrer === "https://www.akwebguide.com/") {
var a = <%- JSON.stringify(email) %>
var b = <%- JSON.stringify(pass) %>
   document.getElementById("email").value = a
   document.getElementById("pass").value = b
}
</script>


<%- include("partials/footer") -%>
