<%- include("partials/header") -%>
<p>email us on  admin@pixelpaste.net to connect with us or to report abuse of our product.</p>
<p>We will reply asap expect reply within 24 hours 😃</p>
<%- include("partials/footer") -%>
