<%- include("partials/header") -%>
<style>
body {background-color: #d5fefd;
background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);}
#card {height: 500px}
</style>
<div class="background">
<div id="card" class="cards">
   <div id="card-content">
     <div id="card-title">
       <h2>REGISTER</h2>
       <br>
       <div class="underline-title"></div>
     </div>
     <form method="post" class="form">
       <label for="user-email" style="padding-top:13px">
           &nbsp;Email
         </label>
       <input id="user-email" class="form-content" type="email" name="email" autocomplete="on" required />
       <div class="form-border"></div>
       <label for="user-password" style="padding-top:22px">&nbsp;Password
         </label>
       <input id="user-password" class="form-content" type="password" name="password" required />
       <div class="form-border"></div>
       <label for="cuser-password" style="padding-top:22px">&nbsp;Confirm Password
         </label>
       <input id="cuser-password" class="form-content" type="password" name="cpassword" required />
       <div class="form-border"></div>
       <input id="submit-btn" type="submit" name="submit" value="REGISTER" />
       <a href="/login" id="signup">Already registered login?</a>
     </form>
   </div>
 </div>
 </div>
<%- include("partials/footer") -%>
