.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px
}
.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #000;
}

html {
  min-height: 100%;
  position: relative;
}

#dropdown {
  position:absolute;
  top:0;
  left:0;
	padding: 5%;
}

ul {
	list-style: none;
}
.container {
	margin-top: 15%;
	padding-left: 5%;
	padding-right:5%;
}

hr {
 border-top:1px dotted #000;
}

li {
	text-align: left;
}

input {
	border: 3px solid;
  border-radius: 3px;
  border-color: #f9f9fb;
}

a {
	text-decoration: none;
	color:black;
}

a:hover {
	text-decoration: none;
	color:black;
}



.mtooltip{
  position: relative;
  display: inline-block;
}

.mtooltip .mtooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
	top: -5px;
  left: 175%;
}

.mtooltip:hover .mtooltiptext {
  visibility: visible;
}

.ma {
	color: white;
}

.ma:hover {
	color:gray;
}

.postt {
	white-space: pre-wrap;
  word-break: break-word;
}


label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}

#card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 450px;
  margin: 6rem auto 6rem auto;
  width: 300px;
	overflow: hidden;
}


#card-content {
  padding: 12px 44px;
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#signup {
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
	color:#969696
}
#submit-btn {

  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}

.btn {
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  transition: 0.25s;

}

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  background: -webkit-linear-gradient(right, #d6d6d6, #969696);
  height: 1px;
  width: 100%;
}
.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}
.underline-title {
  background: -webkit-linear-gradient(right, #d6d6d6, #969696);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}

.form-control:focus{
    border-color:#CCC;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}

#flexCheckIndeterminate {
	border-color:#333;
	outline:0;
	-webkit-box-shadow:none;
	box-shadow:none;
	background-color: #333;
}

.icn:hover {
	color: gray;
}

.clk {
	color:blue;
}
